header {
    background-color: lightblue;
    height: 50px;
}

footer {
    background-color: lightblue;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


#logout {
    margin-top: 5px;
    font-size: 20px;
    float: right;
}
