header {
    background-color: lightblue;
    height: 50px;
}

footer {
    background-color: lightblue;
    height: 50px;
}

.login-footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

#logout {
    margin-top: 5px;
    font-size: 20px;
    float: right;
}
