<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!DOCTYPE html>
<html>

<head>
	<title>Login Page</title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135214225-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-135214225-1');
	</script>

	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

	<!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	 crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="styles/styles.css">

	<!-- Google OAuth-->
	<meta name="google-signin-scope" content="profile email">
	<meta name="google-signin-client_id" content="753487899865-8a3d8ddl4a9vc3h947jl5ej09hq3v37q.apps.googleusercontent.com">
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<body>
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3>Sign In</h3>
					<div class="d-flex justify-content-end social_icon">

					</div>
				</div>
				<div class="card-body">
					<div class="g-signin2" data-onsuccess="onSignIn"></div>
					<!-- <script>
						// get user info after login
						function onSignIn(googleUser) {
							var profile = googleUser.getBasicProfile();

						// How to get user information: 
						// id = profile.getId()
						// name = profile.getName()
						// given name = profile.getGivenName()
						// family name = profile.getFamilyName()
						// image url = profile.getImageUrl()
						// email = profile.getEmail()
							// The ID token for backend:
							var id_token = googleUser.getAuthResponse().id_token;
						}
					</script> -->
				</div>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
				</div>
				<div class="d-flex justify-content-center">
				</div>
			</div>
		</div>
	</div>
	</div>
</body>

</html>
